<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controlador.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiRawg</servlet-name>
        <servlet-class>Controlador.ApiRawg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controlador.Usuario.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuUsuario</servlet-name>
        <servlet-class>Controlador.admin.MenuUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Controlador.admin.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Controlador.admin.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controlador.admin.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleJuego</servlet-name>
        <servlet-class>Controlador.DetalleJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Controlador.Usuario.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarUsuario</servlet-name>
        <servlet-class>Controlador.Usuario.RecargarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarJuegoLista</servlet-name>
        <servlet-class>Controlador.Usuario.AgregarJuegoLista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiRawg</servlet-name>
        <url-pattern>/ApiRawg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuUsuario</servlet-name>
        <url-pattern>/MenuUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleJuego</servlet-name>
        <url-pattern>/DetalleJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarUsuario</servlet-name>
        <url-pattern>/RecargarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarJuegoLista</servlet-name>
        <url-pattern>/AgregarJuegoLista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
